<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="pugSettings" type="TF2Pug.PugConfigurationSection, TF2Pug, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
	</configSections>
	<pugSettings playerThreshold="3" mumbleInfo="chi6.eoreality.net:64746 password: tf2pug" gameSurgeAuth="AnnuitCoeptis" gameSurgeAuthPassword="secret">
		<servers>
			<add friendlyName="Chicago 1" address="chicago2.tf2pug.us" password="tf2pug" rconPassword="8288Oc3" />
			<add friendlyName="Chicago 2" address="chicago2.tf2pug.us" password="tf2pug" rconPassword="8288Oc3" />
			<add friendlyName="Dallas 1" address="dallas1.tf2pug.us" password="tf2pug" rconPassword="8288Oc3" />
			<add friendlyName="Dallas 2" address="dallas2.tf2pug.us" password="tf2pug" rconPassword="8288Oc3" />
		</servers>
	</pugSettings>
	<connectionStrings>
		<add connectionString="Data Source=localhost;User Id=TF2Pug;Password=TF2Pug;Initial Catalog=TF2Pug;" name="pug" />
	</connectionStrings>
</configuration>